version: '3.8'
services:
  db:
    image: postgres:14
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: inventory_db
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

  backend:
    build: ./backend
    restart: on-failure
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "4000:4000"

  frontend:
    build: ./frontend
    restart: on-failure
    ports:
      - "3000:3000"

volumes:
  db_data: